<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>My Order</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
{% include 'navigation.html' %}
<hr class="mt-0">
<div class="card shadow m-5" id="myorder">
    <div class="card-body">
        <div class="container-fluid">
            <h3 style="font-family:roman">My Order</h3>
            <table class="table table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>BookingID</th>
                    <th>TotalPrice</th>
                    <th>Status</th>
                    <th>CreationDate</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in order %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.total}}</td>
                    <!-- <td><a href="" class="btn btn-primary" title="Track Status">{{i.get_status_display}}</a></td> -->
                    <td><a href="/user-order-track/{{i.id}}/" class="btn btn-primary" title="Track Status">{{i.get_status_display}}</a></td>
                    <td>{{i.created}}</td>
                    <!-- <td>
                        <a href="" class="btn btn-success" title="Return Order"><i class="fa fa-refresh"></i></a>
                        <a href="" class="btn btn-danger" title="Cancel Order"><i class="fa-solid fa-xmark"></i></a>
                    </td> -->
                    <td>
                        {% if i.status < 4 %}
                            <a href="/change-order-status/{{i.id}}/?status=5" class="btn btn-success" title="Cancel Order"><i class="fa-solid fa-xmark"></i></a>
                        {% endif %}
                        {% if i.status == 4 %}
                            <a href="/change-order-status/{{i.id}}/?status=6" class="btn btn-danger" title="Return Order"><i class="fa-solid fa-refresh"></i></a>
                        {% endif %}
                        {% if i.status == 5 or i.status == 6 %}
                            -----
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>