{% load static custom_tags %}
<html>
<head>
    <title>Product Detail</title>
    <link href="{% static 'css/product-detail.css' %}" rel="stylesheet"/>
    <link href="https://w3learnpoint.com/cdn/jquery-picZoomer.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet"/>
</head>
<body>
{% include 'navigation.html' %}

<section id="services" class="services section-bg">
    <div class="container">
      <div class="col-sm-12 text-center mb-4 title_bx">
        <h3 class="title"><span class="header-title-1">Product</span><span class="header-title-2">Detail</span></h3>
      </div>
       <div class="row row-sm">
          <div class="col-md-6 _boxzoom">
             {% comment %}
             <div class="zoom-thumb">
                <ul class="piclist">
                   <li><img src="https://s.fotorama.io/3.jpg" alt=""></li>
                   <li><img src="https://s.fotorama.io/3.jpg" alt=""></li>
                   <li><img src="https://s.fotorama.io/3.jpg" alt=""></li>
                   <li><img src="https://ucarecdn.com/382a5139-6712-4418-b25e-cc8ba69ab07f/-/stretch/off/-/resize/760x/" alt=""></li>
                </ul>
             </div>
             {% endcomment %}
             <div class="_product-images">
                <div class="picZoomer">
                   <img class="my_img" src="{{product.image.url}}" alt="Grocery images">
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="_product-detail-content">
                <p class="_p-name product-name">{{product.name}} </p>
                <div class="_p-price-box">
                   <div class="p-list">
                      <span> M.R.P : <i class="fa fa-inr"></i> <del> {{product.price}}</del> </span>
                      <span class="price">Tk.{{product.id|applydiscount}} </span>
                   </div>
                   <div class="_p-add-cart">
                      <div class="_p-qty">
                         <span>Add Quantity</span>
                         <div class="value-button decrease_" id="" value="Decrease Value">-</div>
                         <input type="number" name="qty" id="number" value="1" />
                         <div class="value-button increase_" id="" value="Increase Value">+</div>
                      </div>
                   </div>
                   <div class="_p-features">
                      <span> Description About this product:- </span>
                      {{product.description}}                    
                   </div>
                   <form action="" method="post" accept-charset="utf-8">
                      <ul class="spe_ul"></ul>
                      <div class="_p-qty-and-cart">
                         <div class="_p-add-cart">
                           
                            <!-- <button class="btn-theme btn buy-btn" tabindex="0">
                            <i class="fa fa-shopping-cart"></i> Buy Now
                            </button> -->

                            <!-- <button class="btn-theme btn btn-success" tabindex="0">
                            <i class="fa fa-shopping-cart"></i> Add to Cart
                            </button> -->
                            <a href="/add-to-cart/{{product.id}}/" class="btn-theme btn btn-success" tabindex="0">
                              <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                            
                            <input type="hidden" name="pid" value="18" />
                            <input type="hidden" name="price" value="850" />
                            <input type="hidden" name="url" value="" />   
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
</section>
<section class="sec bg-light">
    <div class="container">
       <div class="row">
          <div class="col-sm-12 title_bx">
             <h3 class="title"> <span class="header-title-1">Recent</span><span class="header-title-2">Product</span></h3>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12 list-slider mt-4">
             <div class="owl-carousel common_wd  owl-theme" id="recent_post">
                 {% for i in latest_product %}
                <div class="item">
                   <div class="sq_box shadow">
                      <div class="pdis_img">
                         <span class="wishlist">
                         <a alt="Add to Wish List" title="Add to Wish List" href="javascript:void(0);"> <i class="fa fa-heart"></i></a>
                         </span>
                         <a href="#">
                         <img src="{{i.image.url}}">
                         </a>
                      </div>
                      <h4 class="mb-1"> <a href="/product-detail/{{i.id}}/"> {{i.name}} </a> </h4>
                      <div class="price-box mb-2">
                         <span class="price"> Price <i class="fa fa-inr"></i> {{i.price}} </span>
                         <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> {{i.id|applydiscount}} </span>
                      </div>
                      <div class="btn-box text-center">
                         <a class="btn btn-sm" href="javascript:void(0);"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
                      </div>
                   </div>
                </div>
                {% endfor %}
             </div>
          </div>
       </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
<script src="{% static 'js/product-detail.js' %}"></script>